{{- if .Values.crds.pixiuGateway.enabled }}
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: pixiugatewaypolicies.pixiu.apache.org
spec:
  group: pixiu.apache.org
  names:
    kind: PixiuGatewayPolicy
    listKind: PixiuGatewayPolicyList
    plural: pixiugatewaypolicies
    shortNames:
    - pgp
    singular: pixiugatewaypolicy
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: PixiuGatewayPolicy is the Schema for the pixiugatewaypolicies
          API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: PixiuGatewayPolicySpec defines the desired state of PixiuGatewayPolicy
            properties:
              listener:
                description: Listener configuration
                properties:
                  timeout:
                    description: ListenerTimeout defines timeout values for listener
                    properties:
                      idle:
                        type: string
                      read:
                        type: string
                      write:
                        type: string
                    type: object
                type: object
              log:
                description: Log configuration
                properties:
                  development:
                    type: boolean
                  disableCaller:
                    type: boolean
                  disableStacktrace:
                    type: boolean
                  encoding:
                    type: string
                  errorOutputPaths:
                    items:
                      type: string
                    type: array
                  level:
                    type: string
                  outputPaths:
                    items:
                      type: string
                    type: array
                type: object
              shutdown:
                description: Shutdown configuration
                properties:
                  rejectPolicy:
                    type: string
                  stepTimeout:
                    type: string
                  timeout:
                    type: string
                type: object
              targetRef:
                description: TargetRef identifies an API object to apply policy to.
                properties:
                  group:
                    description: Group is the group of the target resource.
                    type: string
                  kind:
                    description: Kind is kind of the target resource.
                    type: string
                  name:
                    description: Name is the name of the target resource.
                    type: string
                  namespace:
                    description: Namespace is the namespace of the target resource.
                    maxLength: 63
                    minLength: 1
                    pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
                    type: string
                required:
                - kind
                - name
                type: object
              timeout:
                description: Global timeout configuration
                properties:
                  connect:
                    type: string
                  request:
                    type: string
                type: object
              tracing:
                description: Tracing configuration
                properties:
                  config:
                    description: TracingConfigData defines tracing backend configuration
                    properties:
                      endpoint:
                        type: string
                      headers:
                        additionalProperties:
                          type: string
                        type: object
                      url:
                        type: string
                    type: object
                  name:
                    type: string
                  sampler:
                    description: TracingSampler defines tracing sampler settings
                    properties:
                      param:
                        description: Param expressed as string to avoid float in CRD
                          schema
                        type: string
                      type:
                        type: string
                    type: object
                  serviceName:
                    type: string
                type: object
            required:
            - targetRef
            type: object
          status:
            description: PixiuGatewayPolicyStatus defines the observed state of PixiuGatewayPolicy
            properties:
              conditions:
                description: Conditions describe the current conditions of the PixiuGatewayPolicy.
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
{{- end -}}